BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "I_CLK_25M" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_CLK_BP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_ADC_CH1[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH1[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH1[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH1[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH1[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH1[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH1[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH1[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH2[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH3[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADC_CH4[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "I_ADDR_BP[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_ADDR_BP[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_ADDR_BP[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_ADDR_BP[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_ADDR_BP[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_ADDR_BP[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "I_nRW_BP" IO_TYPE=LVCMOS33 ;
IOBUF PORT "O_CLK_100M" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=FAST ;
IOBUF PORT "O_LOCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "O_TRIG" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=FAST ;
IOBUF PORT "IO_DATA_BP[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO_DATA_BP[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO_DATA_BP[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO_DATA_BP[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO_DATA_BP[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO_DATA_BP[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO_DATA_BP[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO_DATA_BP[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "I_ADC_CH1[0]" SITE "28" ;
LOCATE COMP "I_ADC_CH1[1]" SITE "27" ;
LOCATE COMP "I_ADC_CH1[2]" SITE "26" ;
LOCATE COMP "I_ADC_CH1[3]" SITE "25" ;
LOCATE COMP "I_ADC_CH1[4]" SITE "24" ;
LOCATE COMP "I_ADC_CH1[5]" SITE "23" ;
LOCATE COMP "I_ADC_CH1[6]" SITE "22" ;
LOCATE COMP "I_ADC_CH1[7]" SITE "21" ;
LOCATE COMP "O_CLK_100M" SITE "20" ;
LOCATE COMP "O_TRIG" SITE "19" ;
LOCATE COMP "O_LOCK" SITE "33" ;
LOCATE COMP "I_ADC_CH2[0]" SITE "15" ;
LOCATE COMP "I_ADC_CH2[1]" SITE "14" ;
LOCATE COMP "I_ADC_CH2[2]" SITE "13" ;
LOCATE COMP "I_ADC_CH2[3]" SITE "12" ;
LOCATE COMP "I_ADC_CH2[4]" SITE "11" ;
LOCATE COMP "I_ADC_CH2[5]" SITE "10" ;
LOCATE COMP "I_ADC_CH2[6]" SITE "9" ;
LOCATE COMP "I_ADC_CH2[7]" SITE "6" ;
LOCATE COMP "IO_DATA_BP[0]" SITE "71" ;
LOCATE COMP "IO_DATA_BP[1]" SITE "74" ;
LOCATE COMP "I_ADDR_BP[0]" SITE "73" ;
LOCATE COMP "I_ADDR_BP[1]" SITE "75" ;
LOCATE COMP "IO_DATA_BP[2]" SITE "76" ;
LOCATE COMP "I_ADDR_BP[2]" SITE "77" ;
LOCATE COMP "IO_DATA_BP[3]" SITE "78" ;
LOCATE COMP "I_ADDR_BP[3]" SITE "81" ;
LOCATE COMP "IO_DATA_BP[4]" SITE "82" ;
LOCATE COMP "I_ADDR_BP[4]" SITE "83" ;
LOCATE COMP "IO_DATA_BP[5]" SITE "84" ;
LOCATE COMP "IO_DATA_BP[6]" SITE "86" ;
LOCATE COMP "IO_DATA_BP[7]" SITE "89" ;
LOCATE COMP "I_ADDR_BP[5]" SITE "85" ;
LOCATE COMP "I_nRW_BP" SITE "91" ;
LOCATE COMP "I_CLK_BP" SITE "87" ;
LOCATE COMP "I_CLK_25M" SITE "3" ;
LOCATE COMP "I_ADC_CH3[0]" SITE "50" ;
LOCATE COMP "I_ADC_CH3[1]" SITE "49" ;
LOCATE COMP "I_ADC_CH3[2]" SITE "48" ;
LOCATE COMP "I_ADC_CH3[3]" SITE "47" ;
LOCATE COMP "I_ADC_CH3[4]" SITE "45" ;
LOCATE COMP "I_ADC_CH3[5]" SITE "44" ;
LOCATE COMP "I_ADC_CH3[6]" SITE "43" ;
LOCATE COMP "I_ADC_CH3[7]" SITE "42" ;
LOCATE COMP "I_ADC_CH4[0]" SITE "63" ;
LOCATE COMP "I_ADC_CH4[1]" SITE "62" ;
LOCATE COMP "I_ADC_CH4[2]" SITE "61" ;
LOCATE COMP "I_ADC_CH4[3]" SITE "60" ;
LOCATE COMP "I_ADC_CH4[4]" SITE "59" ;
LOCATE COMP "I_ADC_CH4[5]" SITE "58" ;
LOCATE COMP "I_ADC_CH4[6]" SITE "57" ;
LOCATE COMP "I_ADC_CH4[7]" SITE "56" ;
